body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}


a{
    text-decoration: none;
    color: #e1332d;
    padding: 40px 80px;
    border:3px solid #e1332d;
    text-transform: uppercase;
    font-size: 40px;
    font-size: 'roboto';
    font-weight: 300;
    letter-spacing: -2px;
    transition: 0.5s;
}
a:hover{
    font-weight: 900;
    letter-spacing: 10px;
    border: 7px solid #e1332d;
}